@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');




$InterFont: 'Inter', sans-serif;


$FontSize_13px: 13px;
$FontSize_18px: 18px;
$FontSize_64px: 64px;

$FontWeight_500: 500;
$FontWeight_600: 600;
$FontWeight_700: 700;
