*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    
}
.Container{
    .Navigation{
        nav{
            .Container{
                width: 1244px;
                margin: auto;
            }
        }
    }
}