<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Resources/Css/Style.css">
    <title>Shrtnr - Home</title>
</head>
<body id="Body">
    <div class="Container">
        <section class="Navigation">
            <nav>
                <div class="Container">
                    <div class="LogoWrapper">
                        <img src="./Resources/Assets/Icons/ShrtnrLogo.svg" alt="" class="LogoImage">
                    </div>
                    <div class="LoginCTAWrapper">
                        <button class="NavLoginBuitton NavLogin">Log In</button>
                        <button class="NavLoginBuitton NavSignUp">Sign Up</button>
                    </div>
                    <!--<div class="LoginModalWrapper">
                        
                    </div>
                    
                    <div class="SignupModalWrapper">
                        
                    </div>-->
                </div>
            </nav>
        </section>
        <section class="GenerateUrl">
            <main>
                <div class="Container">
                    <h1 class="SectionTitle">
                        Generate shorter URL with Shrtnr
                    </h1>
                    <p class="SectionDescription">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non cursus magna condimentum sed nibh egestas arcu, sed. Donec sed sed mauris eu tempus. Duis sem risus tellus dignissim laoreet. Ultrices ac elit blandit augue feugiat orci vitae.
                    </p>
                    <form method="POST" class="GenerateUrlInputs" id="GenerateUrlInputs">
                        <input type="text" name="UrlInput" class="UrlInput" id="UrlInput" placeholder="Lnkshortner.com/" value="{{OriginalUrl}}">
                        <input type="submit" name="GenerateUrlBtn" id="GenerateUrlBtn" class="GenerateUrlBtn" value="Generate Url">
                    </form>
                    <div class="Error">
                        <p class="ErrorInnerText" id="status"  style="color: red; width: 724px; margin: auto; margin-top: 24px; font-weight: 700px;">
                            
                        </p>
                    </div>
                    <div class="CopyUrlGenerated">
                        <p class="GeneratedUrlLink" id="GeneratedUrlLink">
                            Lnkshortner.com/
                        </p>
                        <p>{{SearchQuery}}</p>
                        <div class="CopyUrlLink" id="CopyUrlLink">
                            <img src="./Resources/Assets/Icons/CopyLinkIcon.svg" alt="Copy url icon" class="CopyUrlIcon">
                            <p class="CopyUrlText">Copy Url</p>
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <!--Don't forget footer. It should stay at bottom of window even on resize-->
    </div>
    <script src="./Resources/Js/CopyUrl.js"></script>
    <script src="./Resources/Js/Validation/Validation.js"></script>
</body>
</html>